{% extends 'base/base.html' %}
{% load static %}

{% block other_css %}
	<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
{% endblock other_css %}

{% block title %}Master{% endblock title %}
	
{% block other_body_css %}id="page-top"{% endblock other_body_css %}

{% block other_body %}
	<div class="container-fluid">
		<div id="content-wrapper" class="d-flex flex-column">
			<div class="container">
				<div class="container">
					<div class="row justify-content-center my-5">
						<div class="col-auto">
							<h1 class="display-3 text-gray-800">General Master</h1>
						</div>
					</div>
					<div class="card z-index-2 pb-3 mb-3">
						<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
							<div class="bg-gradient-primary shadow-primary border-radius-lg p-3 pe-1 text-white">
								<div class="row">
									<div class="col">
										<a data-bs-toggle="collapse" href="#Qualification" role="button" aria-expanded="false" aria-controls="Qualification">
											<h4 class="card-title fw-bold">Qualification</h4>
											<p class="card-category fw-bold"> Here is a subtitle for this table</p>
										</a>
									</div>
									<div class="col-auto">
										<a href="{% url 'Qualification_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
									</div>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="Qualification">
							<div class="table-responsive">
								<table class="table">
									<thead class="text-primary">
										<tr>
											<th>Qualification</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for qualification in qualifications %}
										<tr>
											<td>{{ qualification.qualification }}</td>
											<td>{{ qualification.effective_date }}</td>
											<td>{{ qualification.ineffective_date }}</td>
											<td><a href={% url 'editqualification' id=qualification.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span>
												</a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					  </div>
					<div class="card mb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#Qualification" role="button" aria-expanded="false" aria-controls="Qualification">
										<h4 class="card-title fw-bold">Qualification</h4>
										<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'Qualification_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body " id="Qualification"  >
							<div class="table-responsive">
								<table class="table">
									<thead class="text-primary">
										<tr>
											<th>Qualification</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for qualification in qualifications %}
										<tr>
											<td>{{ qualification.qualification }}</td>
											<td>{{ qualification.effective_date }}</td>
											<td>{{ qualification.ineffective_date }}</td>
											<td><a href={% url 'editqualification' id=qualification.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span>
												</a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#Profession" role="button" aria-expanded="false" aria-controls="Profession">
									<h4 class="card-title fw-bold">Profession</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'Qualification_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="Profession" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>Profession</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for profession in professions %}
										<tr>
											<td>{{ profession.profession }}</td>
											<td>{{ profession.effective_date }}</td>
											<td>{{ profession.ineffective_date }}</td>
											<td>
												<a href={% url 'editprofession' id=profession.id %}>
													<span class="icon text-black-50">
														<i class="fa fa-edit"></i>
													</span>
												</a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#Role" role="button" aria-expanded="false" aria-controls="Role">
									<h4 class="card-title fw-bold">Role</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'Role_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="Role" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>Role</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for role in roles %}
										<tr>
											<td>{{ role.role }}</td>
											<td>{{ role.effective_date }}</td>
											<td>{{ role.ineffective_date }}</td>
											<td>
												<a href={% url 'editrole' id=role.id %}>
													<span class="icon text-black-50">
														<i class="fa fa-edit"></i>
													</span>
												</a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#Product" role="button" aria-expanded="false" aria-controls="Product">
									<h4 class="card-title fw-bold">Product</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'Product_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="Product" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>Product</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
										</tr>
									</thead>
									<tbody>
										{% for product in products %}
										<tr>
											<td>{{ product.product }}</td>
											<td>{{ product.effective_date }}</td>
											<td>{{ product.ineffective_date }}</td>
											<td>
												<a href={% url 'editproduct' id=product.id %}>
													<span class="icon text-black-50"><i class="fa fa-edit"></i></span>
												</a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#SubProduct" role="button" aria-expanded="false" aria-controls="SubProduct">
									<h4 class="card-title fw-bold">SubProduct</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'SubProduct_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="SubProduct" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>Product</th>
											<th>SubProduct</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
										</tr>
									</thead>
									<tbody>
										{% for subproduct in subproducts %}
										<tr>
											<td>{{ subproduct.product.product }}</td>
											<td>{{ subproduct.sub_product }}</td>
											<td>{{ subproduct.effective_date }}</td>
											<td>{{ subproduct.ineffective_date }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#CustomerType" role="button" aria-expanded="false" aria-controls="CustomerType">
									<h4 class="card-title fw-bold">CustomerType</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'CustomerType_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="CustomerType" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>CustomerType</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for customertype in customertypes %}
										<tr>
											<td>{{ customertype.cust_type }}</td>
											<td>{{ customertype.effective_date }}</td>
											<td>{{ customertype.ineffective_date }}</td>
											<td><a href={% url 'editcustomertype' id=customertype.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#DesignationType" role="button" aria-expanded="false" aria-controls="DesignationType">
									<h4 class="card-title fw-bold">Designation Type</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'DesignationType_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="DesignationType" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>DesignationType</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for designationtype in designationtypes %}
										<tr>
											<td>{{ designationtype.desg_type }}</td>
											<td>{{ designationtype.effective_date }}</td>
											<td>{{ designationtype.ineffective_date }}</td>
											<td><a href={% url 'editdesignationtype' id=designationtype.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#SalaryType" role="button" aria-expanded="false" aria-controls="SalaryType">
									<h4 class="card-title fw-bold">Salary Type</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'SalaryType_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="SalaryType" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>SalaryType</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for salarytype in salarytypes %}
										<tr>
											<td>{{ salarytype.salary_type }}</td>
											<td>{{ salarytype.effective_date }}</td>
											<td>{{ salarytype.ineffective_date }}</td>
											<td><a href={% url 'editsalarytype' id=salarytype.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#ResidenceType" role="button" aria-expanded="false" aria-controls="ResidenceType">
									<h4 class="card-title fw-bold">Residence Type</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'ResidenceType_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="ResidenceType" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>ResidenceType</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for residencetype in residencetypes %}
										<tr>
											<td>{{ residencetype.residence_type }}</td>
											<td>{{ residencetype.effective_date }}</td>
											<td>{{ residencetype.ineffective_date }}</td>
											<td><a href={% url 'editresidencetype' id=residencetype.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#BankName" role="button" aria-expanded="false" aria-controls="BankName">
									<h4 class="card-title fw-bold">Bank Name</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'BankName_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="BankName" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>BankName</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for bankname in banknames %}
										<tr>
											<td>{{ bankname.bank_name }}</td>
											<td>{{ bankname.effective_date }}</td>
											<td>{{ bankname.ineffective_date }}</td>
											<td><a href={% url 'editbankname' id=bankname.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#LeadSource" role="button" aria-expanded="false" aria-controls="LeadSource">
									<h4 class="card-title fw-bold">Lead Source</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'LeadSource_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="LeadSource" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>LeadSource</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for leadsource in leadsources %}
										<tr>
											<td>{{ leadsource.lead_source }}</td>
											<td>{{ leadsource.effective_date }}</td>
											<td>{{ leadsource.ineffective_date }}</td>
											<td><a href={% url 'editleadsource' id=leadsource.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#Degree" role="button" aria-expanded="false" aria-controls="Degree">
									<h4 class="card-title fw-bold">Bank Name</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'Degree_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="Degree" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>Degree</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for degree in degrees %}
										<tr>
											<td>{{ degree.degree }}</td>
											<td>{{ degree.effective_date }}</td>
											<td>{{ degree.ineffective_date }}</td>
											<td><a href={% url 'editdegree' id=degree.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#Nationality" role="button" aria-expanded="false" aria-controls="Nationality">
									<h4 class="card-title fw-bold">Nationality</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'Nationality_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="Nationality" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>Nationality</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for nationality in nationalitys %}
										<tr>
											<td>{{ nationality.nationality }}</td>
											<td>{{ nationality.effective_date }}</td>
											<td>{{ nationality.ineffective_date }}</td>
											<td><a href={% url 'editnationality' id=nationality.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#State" role="button" aria-expanded="false" aria-controls="State">
									<h4 class="card-title fw-bold">State</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'State_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="State" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>State</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for state in states %}
										<tr>
											<td>{{ state.state }}</td>
											<td>{{ state.effective_date }}</td>
											<td>{{ state.ineffective_date }}</td>
											<td><a href={% url 'editstate' id=state.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#City" role="button" aria-expanded="false" aria-controls="City">
									<h4 class="card-title fw-bold">City</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'City_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="City" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<th>City</th>
										<th>Effective Date</th>
										<th>Ineffective Date</th>
										<th>Edit</th>
									</thead>
									<tbody>
										{% for city in citys %}
										<tr>
											<td>{{ city.city_name }}</td>
											<td>{{ city.effective_date }}</td>
											<td>{{ city.ineffective_date }}</td>
											<td><a href={% url 'editcity' id=city.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#ApplicantType" role="button" aria-expanded="false" aria-controls="ApplicantType">
									<h4 class="card-title fw-bold">Applicant Type</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'Applicanttype_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="ApplicantType" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>ApplicantType</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for applicanttype in applicanttypes %}
										<tr>
											<td>{{ applicanttype.applicant_type }}</td>
											<td>{{ applicanttype.effective_date }}</td>
											<td>{{ applicanttype.ineffective_date }}</td>
											<td><a href={% url 'editapplicanttype' id=applicanttype.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#PropertyIn" role="button" aria-expanded="false" aria-controls="PropertyIn">
									<h4 class="card-title fw-bold">Property In</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'PropertyIn_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="PropertyIn" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>PropertyIn</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for propertyin in propertyins %}
										<tr>
											<td>{{ propertyin.property_in }}</td>
											<td>{{ propertyin.effective_date }}</td>
											<td>{{ propertyin.ineffective_date }}</td>
											<td><a href={% url 'editpropertyln' id=propertyin.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#Status" role="button" aria-expanded="false" aria-controls="Status">
									<h4 class="card-title fw-bold">Status</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'Status_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="Status" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>Status</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for status in statues %}
										<tr>
											<td>{{ status.status }}</td>
											<td>{{ status.effective_date }}</td>
											<td>{{ status.ineffective_date }}</td>
											<td><a href={% url 'editstatus' id=status.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#NatureOfBusiness" role="button" aria-expanded="false" aria-controls="NatureOfBusiness">
									<h4 class="card-title fw-bold">Nature Of Business</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'NatureOfBusiness_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="NatureOfBusiness" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>NatureOfBusiness</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for natureofbusiness in natureofbusinesss %}
										<tr>
											<td>{{ natureofbusiness.nature_business }}</td>
											<td>{{ natureofbusiness.effective_date }}</td>
											<td>{{ natureofbusiness.ineffective_date }}</td>
											<td><a href={% url 'editnatureofbusiness' id=natureofbusiness.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#AYYear" role="button" aria-expanded="false" aria-controls="AYYear">
									<h4 class="card-title fw-bold">AYYear</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'AYyear_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="AYYear" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>AYYear</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for ayyear in ayyears %}
										<tr>
											<td>{{ ayyear.ay_year }}</td>
											<td>{{ ayyear.effective_date }}</td>
											<td>{{ ayyear.ineffective_date }}</td>
											<td><a href={% url 'editayyear' id=ayyear.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#AgreementType" role="button" aria-expanded="false" aria-controls="AgreementType">
									<h4 class="card-title fw-bold">Agreement Type</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'Agreementtype_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="AgreementType" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>AgreementType</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for agreementtype in agreementtypes %}
										<tr>
											<td>{{ agreementtype.agreement_type }}</td>
											<td>{{ agreementtype.effective_date }}</td>
											<td>{{ agreementtype.ineffective_date }}</td>
											<td><a href={% url 'editagreementtype' id=agreementtype.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#StageOfConstruction" role="button" aria-expanded="false" aria-controls="StageOfConstruction">
									<h4 class="card-title fw-bold">StageOfConstruction</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'StageOfConstruction_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="StageOfConstruction" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>StageOfConstruction</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for stageOfconstruction in stageOfconstructions %}
										<tr>
											<td>{{ stageOfconstruction.stage }}</td>
											<td>{{ stageOfconstruction.effective_date }}</td>
											<td>{{ stageOfconstruction.ineffective_date }}</td>
											<td><a href={% url 'editstageofconstruction' id=stageOfconstruction.id %}><span class="icon text-black-50"><i class="fa fa-edit"></i></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card pb-3">
						<div class="card-header card-header-primary ">
							<div class="row">
								<div class="col">
									<a data-bs-toggle="collapse" href="#RejectionType" role="button" aria-expanded="false" aria-controls="RejectionType">
									<h4 class="card-title fw-bold">RejectionType</h4>
									<p class="card-category fw-bold"> Here is a subtitle for this table</p>
									</a>
								</div>
								<div class="col-auto">
									<a href="{% url 'RejectionType_form' %}" class="btn btn-info "><span class="material-icons">add</span> Add</a>
								</div>
							</div>
						</div>
						<div class="collapse card-body" id="RejectionType" >
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th>RejectionType</th>
											<th>Rejection Reason</th>
											<th>Effective Date</th>
											<th>Ineffective Date</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										{% for rejectiontype in rejectiontypes %}
										<tr>
											<td><a href={% url 'editrejectiontype' id=rejectiontype.id %}>
													<span class="icon text-black-50">
														<i class="fa fa-edit"></i>
													</span>
												</a></td>
											<td>{{ rejectiontype.rejection_type }}</td>
											<td>{{ rejectiontype.rejection_reason }}</td>
											<td>{{ rejectiontype.effective_date }}</td>
											<td>{{ rejectiontype.ineffective_date }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
{% endblock other_body %}

{% block other_js %}{% endblock other_js %}
