.customCard {
  border-radius: 0px !important;
}

.countCard {
  border-radius: 0px !important;
}

.rightText {
  padding-right: 2%;
  padding-top: 12%;
  padding-left: 50px;
}
.rightText li {
  padding-bottom: 50px;
}

/* @media (min-width: 1351px){
    .leftFullScaleImage{
        max-width: 200%;
        width: 814px;
        margin-left: -275px;
    }
    .rightFullScaleImage{
        max-width: 200%;
        width: 814px;
        margin-right: -275px;
    }
}
@media (min-width:1200px) and (max-width: 1350px){
    .leftFullScaleImage{
        max-width: 200%;
        margin-left: -135px;
    }
    .rightFullScaleImage{
        max-width: 200%;
        margin-right: -135px;
    }
    
}
@media (max-width:1200px) and (min-width: 991px){
    .leftFullScaleImage{
        max-width: 130%;
        margin-left: -135px;
    }
    .rightFullScaleImage{
        max-width: 130%;
        margin-right: -135px;
    }
}
@media (max-width:991px) and (min-width: 958px){
    .leftFullScaleImage{
        max-width: 150%;
        margin-left: -164px;
    }
    .rightFullScaleImage{
        max-width: 150%;
        margin-right: -164px;
    }
    
}
@media (min-width:768px) and (max-width: 958px){
    .leftFullScaleImage{
        max-width: 141%;
        margin-left: -135px;
    }
    .rightFullScaleImage{
        max-width: 141%;
        margin-right: -135px;
    }
    
}
.leftFullScaleImage{
    max-height: 600px;
}
.rightFullScaleImage{
    max-height: 600px;
    overflow-x: hidden;
} */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: white;
  color: #00a8e8;
  font-weight: bold;
  font-size: xx-large;
}

.nav-pills .nav-link {
  color: black;
  display: inline-block;
  background-color: white;
  font-size: x-large;
}

.nav-pills {
  position: relative; /* 1 */
  display: inline-block; /* 2 */
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: -1; /* 4 */
  top: 45%;
  left: 0%;
  height: 3;
  background-color: grey;
}

.p-fontstyle{
    font-weight: 350;
    font-size: 1.1rem;
}