<div class="card card-login">
    <div class="card-header card-header-rose text-center">
        <h4 class="card-title">Login</h4>
        <div class="social-line">Premium Django Template</div>
    </div>
    <div class="card-body ">
        <p class="card-description text-center"><span>Default Credentials: <strong>test / ApS12_ZZs8</strong></span></p>
        <span class="bmd-form-group is-filled">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="material-icons">face</i></span>
    </div>
    <input type="text" name="username" placeholder="Username" class="form-control" value="test" required="" id="id_username">
</div>
</span>
<span class="bmd-form-group is-filled">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                    </span>
</div>
<input type="password" name="password" placeholder="Password" class="form-control" value="ApS12_ZZs8" required="" id="id_password">
</div>
</span>
</div>
<div class="card-footer justify-content-center">
    <button type="submit" name="login" class="btn btn-primary my-4">Login</button>
</div>
<div class="form-check text-center">
    <label class="form-check-label">
            Django Seed Project with Material Design
        </label>
</div>
<br>
</div>