{% extends 'base/base.html' %}
{% load static %}

{% block other_css %}
{% endblock other_css %}

{% block title %}Add Leads{% endblock title %}

{% block other_body %}
  <div class="container" style="width:90%; margin:25px auto;">
      {% csrf_token %}
      <div class="form-group row"></div>
      <div class="container">
        <h1 class=" mt-3 mb-4 display-3 text-center">Add Leads</h1> 
        <div class="card-body">
          <div class="container">
            <form class="form-container bg-white rounded shadow-blur p-3" action = "{% url 'add_leads' %}" 
            id = "leadform" class="form-container bg-white rounded shadow-blur pt-3" method="POST" 
            data-cities-url="ajax/cities/" 
            data-subproducts-url = "ajax/subproducts/">
              {% csrf_token %}
               <div class="row">
                <div class="col-md-4">
                  <div class="input-group input-group-static mb-4">
                      <label  class="text-primary fw-bold">Prefix</label>
                      {{form.prefix}}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group input-group-outline mb-4">
                      <label  class="form-label text-primary fw-bold">Customer Name</label>
                      {{form.name}}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group input-group-outline mb-4">
                      <label   class="form-label text-primary fw-bold">Customer Mobile No</label>
                      {{form.phone}}
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group input-group-outline mb-4">
                      <label   class="form-label text-primary fw-bold">Alternate Mobile No</label>
                      {{form.alt_phone}}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group input-group-outline mb-4">
                      <label   class="form-label text-primary fw-bold">Email-id</label>
                      {{form.email}}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group input-group-outline mb-4">
                      <label   class="form-label text-primary fw-bold">Reference Name</label>
                      {{form.reference}}
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group input-group-static mb-4">
                      <label  class="ms-0 text-primary fw-bold col-12">Product</label>
                      {{form.product}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group input-group-static mb-4">
                      <label  class="ms-0 text-primary fw-bold col-12">Sub Products</label>
                        {{form.sub_product}}
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group input-group-outline mb-4">
                      <label  class="ms-0 form-label text-primary fw-bold">Loan amount</label>
                        {{form.loan_amt}}
                    </div>
                </div>
                <div class="col-md-4">
                  <label  class="ms-0 form-label text-primary fw-bold">Address</label>
                    <div class="input-group input-group-outline mb-4">
                      {{form.address}}
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group input-group-outline mb-4">
                    <label  class="ms-0 form-label text-primary fw-bold">Pincode</label>
                    {{form.pincode}}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                      <div class="input-group input-group-static mb-4">
                        <label  class="ms-0 text-primary fw-bold col-12">State</label>
                        {{form.state}}
                      </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                      <div class="input-group input-group-static mb-4">
                        <label class="ms-0 text-primary fw-bold col-12">City</label>
                       {{form.city}}
                      </div>
                  </div>
                </div>
               </div> 
              <div style="text-align:center">
                {% comment %} <button class="btn btn-primary" name="cancel" type="submit">Cancel</button> {% endcomment %}
                <button class="btn btn-primary" name="save" type="submit">Save & Submit</button>
                <button class="btn btn-primary" name="next" type="submit">Next</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
{% endblock other_body %}

{% block other_js %}
  <script>
    $("#id_state").change(function() {
      const url = $("#leadform").attr("data-cities-url");
      const stateid = $(this).val();
      console.log(stateid);
      $.ajax({
        url:url,
        type:'GET',
        data:{
          'state_id':stateid
        },
        datatype:'JSON',
        success: function(data){
          $("#id_city").html(data);
        },
        error:function(data){
          console.log(data);
        }
      });
    });
    $("#id_product").change(function() {
      const url = $("#leadform").attr("data-subproducts-url");
      const productid = $(this).val();

      $.ajax({
        url : url ,
        type:'GET',
        data:{
          'product_id' : productid
        },
        datatype:'JSON',
        success : function(data){
          $("#id_sub_product").html(data);
        },
        error:function(error){
          console.log(error);
        }
      });
    });
  </script>

    
{% endblock other_js %}