{% extends 'base/base.html' %}
{% load static %}

{% block other_css %}
{% endblock other_css %}

{% block title %}Email{% endblock title %}
 
{% block other_body_css %}id="page-top"{% endblock other_body_css %}

{% block other_body %}
  <!-- Page Wrapper -->
  <div class ="container-fluid">
    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        
      <!-- Main Content -->
      <div id="content">

        
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div style="width:800px; margin:0 auto;">
                <h1 class="mb-5 mt-3 display-3 text-center">Send Gmail Message</h1> 
                <!-- Content Row -->
                <div class="row">

                    <!-- Fade In Utility -->
                    <div class="col">

                    <div class="card position-relative">
                        <div class="card-body">
                        <form method="POST" class="user shadow-blur" action="wMsg" id="form" >
                            {% csrf_token %}
                            <div class="input-group input-group-outline my-3">
                              <label class="form-label">Email ID</label>
                              <input type="email" class="form-control" name="mobile_no">
                            </div>
                            <div class="input-group input-group-dynamic">
                              <textarea class="form-control" name="message" rows="1" placeholder="Message" spellcheck="false"></textarea>
                            </div>
                            <div class="text-center">
                              <button class="btn btn-primary mt-4 mb-0 mr-3" type="submit">Send</button>
                            </div>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
              </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
    </div>
  </div>
  <!-- End of Page Wrapper -->
{% endblock other_body %}

{% block other_js %}
{% endblock other_js %}