{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Lead</title>
  <link rel="apple-touch-icon" sizes="76x76" href=" {%static 'assets/img/apple-icon.png' %}" >
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <style>
      .form-container {


          padding: 30px;
          margin-right: -20px;
          border-radius: 10px;
          box-shadow: 0px 0px 10px 0px #000;
          /* margin -100px; */
      }

  </style>



</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div class ="container-fluid">

    <!-- Sidebar -->
    {% include 'account/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <div class="container">
          <h1 class="h3 mb-1 text-gray-800">View Lead</h1>

        <form class="form-container" action={% url 'list_lead_edit' id=lead.lead_id %} method="POST">


          <br><br>

          {% csrf_token %}
          <!-- <p class="card-description"> Personal info </p> -->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-9 col-form-label"> <b>Customer Name</b> </label>
                <div class="col-sm-9">
                 <br> <input type="text" class="form-control" name="name" value={{lead.name}} readonly>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-9 col-form-label"> <b>Customer Mobile No</b> </label>
                <div class="col-sm-9">
                <br>  <input type="tel" pattern="[0-9]{10}" class="form-control" name="phone" value={{lead.phone}} readonly>
                </div>
              </div>
            </div>
          <!-- </div> -->
          <!-- <div class="row"> -->
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-9 col-form-label"> <b>Alter Mobile No</b> </label>
                <div class="col-sm-9">
                  <!-- <select class="form-control">
                    <option>Male</option>
                    <option>Female</option>
                  </select> -->
                 <br> <input type="tel" pattern="[0-9]{10}" class="form-control" name="alt_phone" value={{lead.alt_phone}} >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><b>email-id</b></label>
                <div class="col-sm-9">
                 <br> <input class="form-control" name="email" type="email" value={{lead.email}} readonly>
                </div>
              </div>
            </div>
          <!-- </div> -->
          <!-- <div class="row"> -->
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-9 col-form-label"><b>Use Reference</b></label>
                <div class="col-sm-9">
                  <!-- <select class="form-control">
                    <option>Category1</option>
                    <option>Category2</option>
                    <option>Category3</option>
                    <option>Category4</option>
                  </select> -->
                 <br> <input class="form-control" placeholder="Reference Name" name="ref" value={{lead.reference}} readonly>
                </div>
              </div>
            </div>


          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label"><b>Product</b></label>
              <div class="col-sm-9">
               <br> <input class="form-control" placeholder="Product" name="pdt" value={{lead.product}} readonly>
                 <!-- <input class="form-control" placeholder="dd/mm/yyyy"> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label"><b>SubProducts</b></label>
              <div class="col-sm-9">
              <br>  <input class="form-control" placeholder="SubProduct" name="subpdt" value={{lead.sub_product}} readonly>

                  <!-- <input class="form-control" placeholder="dd/mm/yyyy"> -->
                </select>
              </div>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Loan Amount</b></label>
                <div class="col-sm-9">
               <br>   <input type="text" class="form-control" name="amt" value={{lead.loan_amt}} readonly>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><b>addressLocation</b></label>
                <div class="col-sm-9">
               <br>   <input type="text" class="form-control" name="address" value={{lead.address}} readonly>
                </div>
              </div>
            </div>

          <!-- <div class="row"> -->
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><b>Pincode</b></label>
                <div class="col-sm-9">
                 <br><input type="text" class="form-control" name="pincode" value={{lead.pincode}} readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><b>Country</b></label>
                <div class="col-sm-9">
                 <br> <input type="text" class="form-control" name="Country" value={{lead.country}} readonly>
                  <!-- <input type="text" class="form-control" placeholder="Select"> -->
                </div>
              </div>
            </div>
          <!-- </div> -->
          <!-- <div class="row"> -->
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><b>State</b></label>
                <div class="col-sm-9" aria-placeholder="Slect">
                  <br>  <input type="text" class="form-control" name="state" value={{lead.state}} readonly>
                  <!-- <input type="text" class="form-control"> -->
                </div>
              </div>
            </div>
            <div class="col-md-4">
               <div class="form-group row">
                <label class="col-sm-4 col-form-label"><b>City</b></label>
                <div class="col-sm-9">
                 <br> <input type="text" class="form-control" name="city" value={{lead.city}} readonly>
                </div>
              </div>
            </div>
             {% comment %} <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><b>Added By</b></label>
                <div class="col-sm-9">
                 <br> <input type="text" class="form-control" name="added_by">
                </div>
              </div>
            </div> {% endcomment %}

          </div>
          <br>
          <div style="text-align:center">

            <a href={% url 'list_leads' %} class="btn btn-primary">Go Back</a>

          </div>


          </div>
        </div>

        </form>
    </div>
      </div>
            <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            {% autoescape off %}
            <script>
              let subproducts = {{subproducts}};
              function updatesubproducts(){
                  var form = document.forms[0];
                  var selectElementOfProduct = form.querySelector('select[name="pdt"]');
                  var primarykeyOfSeletectProduct = selectElementOfProduct.options[selectElementOfProduct.selectedIndex].id
                  var selectElementOfSubProduct = form.querySelector('select[name="subpdt"]');
                  selectElementOfSubProduct.innerHTML = '';
                  selectElementOfSubProduct.innerHTML = subproducts[primarykeyOfSeletectProduct].map((subproduct) => {
                    if ( "{{lead.sub_product}}" === subproduct.sub_product ) {
                        return "<option value='" + subproduct.sub_product + "' selected >" + subproduct.sub_product + "</option>";
                    }else {
                        return "<option value='" + subproduct.sub_product + "'>" + subproduct.sub_product + "</option>";
                    }
                  }).join();
                  console.log(primarykeyOfSeletectProduct, subproducts[primarykeyOfSeletectProduct].map((subproduct) => {
                    if ( "{{lead.sub_product}}" === subproduct.sub_product ) {
                        return "<option value='" + subproduct.sub_product + "'selected >" + subproduct.sub_product + "</option>";
                    }else {
                        return "<option value='" + subproduct.sub_product + "'>" + subproduct.sub_product + "</option>";
                    }
                  }).join());
              }
              updatesubproducts();

            </script>
            {% endautoescape %}

            </div>
            <!-- End of Content Wrapper -->

        </div>
    </div>
  </div>


  <!-- End of Page Wrapper -->



  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/jquery.min.js' %} "></script>
  <script src="{% static 'assets/js/core/popper.min.js'%} "></script>
  <script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %} "></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %} "></script>
  <!-- Plugin for the momentJs  -->
  <script src="{%static 'assets/js/plugins/moment.min.js' %} "></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src=" {% static ' assets/js/plugins/jquery.validate.min.js' %}"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src=" {% static 'assets/js/plugins/jquery.bootstrap-wizard.js' %} "></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="{% static 'assets/js/plugins/bootstrap-selectpicker.js' %} "></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src=" {% static 'assets/js/plugins/bootstrap-datetimepicker.min.js' %} "></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="{% static ' assets/js/plugins/jquery.dataTables.min.js' %}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="{% static 'assets/js/plugins/bootstrap-tagsinput.js' %} "></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="{% static 'assets/js/plugins/jquery-jvectormap.js' %} "></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'assets/js/plugins/nouislider.min.js' %} "></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="{%static 'assets/js/plugins/arrive.min.js"' %} "></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="{% static 'assets/js/plugins/chartist.min.js'%} "></script>
  <!--  Notifications Plugin    -->
  <script src=" {% static ' assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/material-dashboard.js?v=2.1.2' %} " type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static ' assets/demo/demo.js'%}"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
</body>

</html>