{% extends 'base/base.html' %}
{% load static %}

{% block other_css %}
{% endblock other_css %}

{% block title %}Salary Details{% endblock title %}

{% block other_body_css %}id="page-top"{% endblock other_body_css %}

{% block other_body %}
  <div class ="container-fluid">
    <div id="content-wrapper" class="d-flex flex-column">
      <h1 class=" mt-3 mb-4 display-3 text-center">Income Details for Salaried</h1> 
      <div class="container bg-white shadow-blur rounded mb-4">
        <div class="row" align="center">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label text-primary"> <b>Customer Name</b> </label>
              <div class="col-sm-12">
              <input type="text" value="{{name}}" class="form-control" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label text-primary"> <b>Applicant Type</b> </label>
              <div class="col-sm-12">
              <input type="text" value="{{applicant_type}}" class="form-control" disabled>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="alert alert-primary fs-4 text-white" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#personalDetailsModal">
          <b>Personal Details</b>
        </div>
        <div class="alert alert-primary fs-4 text-white" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#incomeDetails">
          <b>Income Details</b>
        </div>
        <div class="alert alert-primary fs-4 text-white" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#otherIncomes">
          <b>Other Incomes Details</b>
        </div>
        <div class="alert alert-primary fs-4 text-white" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#otherThanIncomeMentionedAbove">
          <b>Other Than Income Mentioned Above Details</b>
        </div>
        <div class="alert alert-primary fs-4 text-white" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#companyDetailsModal">
          <b>Company Details</b>
        </div>
        <div class="alert alert-primary fs-4 text-white" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#residenceDetailModal">
          <b>Residence Details</b>
        </div>
        <div class="alert alert-primary fs-4 text-white" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#existingloanDetailModal">
          <b>Existing Loan Details</b>
        </div>
        <div class="alert alert-primary fs-4 text-white" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#existingcardDetailModal">
          <b>Existing Card Details</b>
        </div>
        <div class="alert alert-primary fs-4 text-white" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#additionalDetailsModal">
          <b>Additional Details</b>
        </div>
        <div class="alert alert-primary fs-4 text-white" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#investmentDetailModal">
          <b>Investment Details</b>
        </div>
        <form method="POST" action={% url 'salaried' id=id %}>
          {% csrf_token %}
          <div class="text-center">
            <button class="btn btn-primary mr-3" name="cancel" type="submit">CANCEL</button>
            <button class="btn btn-primary mr-3" name="next" type="submit">NEXT</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="personalDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Personal details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action={% url 'salaried' id=id %}>
          {% csrf_token %}
          <div class="modal-body">
            <div class="row g-4 p-4">
              {% for field in personal_details_form %}
                  <div class="col-sm-4">
                      <div class="input-group input-group-static">
                          <label class="ms-0 text-primary fw-bold">{{field.label}}</label>
                          {{ field }}
                      </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" name="personal_details" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="incomeDetails" tabindex="-1" role="dialog" aria-labelledby="incomeDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-normal" id="incomeDetailsLabel">Income Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action={% url 'salaried' id=id %}>
          {% csrf_token %}
          <div class="modal-body">
            <div class="row g-4 p-4">
              {% for field in income_details_form %}
                  <div class="col-sm-4">
                      <div class="input-group input-group-static">
                          <label class="ms-0 text-primary fw-bold">{{field.label}}</label>
                          {{ field }}
                      </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" name="income_details" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="otherIncomes" tabindex="-1" role="dialog" aria-labelledby="otherIncomesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-normal" id="otherIncomesLabel">Other Incomes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action={% url 'salaried' id=id %}>
          {% csrf_token %}
          <div class="modal-body">
            <div class="row g-4 p-4">
              {% for field in other_incomes_form %}
                  <div class="col-sm-4">
                      <div class="input-group input-group-static">
                          <label class="ms-0 text-primary fw-bold">{{field.label}}</label>
                          {{ field }}
                      </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" name="other_incomes" type="submit">Submit</button>
          </div>
        </form>
    </div>
  </div>
  <div class="modal fade" id="otherThanIncomeMentionedAbove" tabindex="-1" role="dialog" aria-labelledby="otherThanIncomeMentionedAboveLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title font-weight-normal" id="otherThanIncomeMentionedAboveLabel">Other Than Income Mentioned Above</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form method="POST" action={% url 'salaried' id=id %}>
          {% csrf_token %}
          <div class="modal-body">
            <div class="row g-4 p-4">
              {% for field in additional_other_incomes_form %}
                  <div class="col-sm-4">
                      <div class="input-group input-group-static">
                          <label class="ms-0 text-primary fw-bold">{{field.label}}</label>
                          {{ field }}
                      </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" name="additional_other_incomes" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="companyDetailsModal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Company Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action={% url 'salaried' id=id %}>
          {% csrf_token %}
          <div class="modal-body">
            <div class="row g-4 p-4">
              {% for field in company_details_form %}
                  <div class="col-sm-4">
                      <div class="input-group input-group-static">
                          <label class="ms-0 text-primary fw-bold">{{field.label}}</label>
                          {{ field }}
                      </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" name="company_details" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="residenceDetailModal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Residence Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action={% url 'salaried' id=id %}>
          {% csrf_token %}
          <div class="modal-body">
            <div class="row g-4 p-4">
              {% for field in residence_details_form %}
                  <div class="col-sm-4">
                      <div class="input-group input-group-static">
                          <label class="ms-0 text-primary fw-bold">{{field.label}}</label>
                          {{ field }}
                      </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" name="residence_details" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="existingloanDetailModal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Existing Loan Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action={% url 'salaried' id=id %}>
          {% csrf_token %}
          <div class="modal-body">
            <div class="row g-4 p-4">
              {% for field in existing_loan_details_form %}
                  <div class="col-sm-4">
                      <div class="input-group input-group-static">
                          <label class="ms-0 text-primary fw-bold">{{field.label}}</label>
                          {{ field }}
                      </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" name="existing_loan_details" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="existingcardDetailModal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Existing Card Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action={% url 'salaried' id=id %}>
          {% csrf_token %}
          <div class="modal-body">
            <div class="row g-4 p-4">
              {% for field in existing_card_details_form %}
                  <div class="col-sm-4">
                      <div class="input-group input-group-static">
                          <label class="ms-0 text-primary fw-bold">{{field.label}}</label>
                          {{ field }}
                      </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" name="existing_card_details" type="submit">Submit</button>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="additionalDetailsModal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Additional Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action={% url 'salaried' id=id %}>
          {% csrf_token %}
          <div class="modal-body">
            <div class="row g-4 p-4">
              {% for field in additional_details_form %}
                  <div class="col-sm-6">
                      <div class="input-group input-group-static">
                          <label class="ms-0 text-primary fw-bold">{{field.label}}</label>
                          {{ field }}
                      </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" name="additional_details" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="investmentDetailModal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Investment Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action={% url 'salaried' id=id %}>
          {% csrf_token %}
          <div class="modal-body">
            <div class="row g-4 p-4">
              {% for field in investment_form %}
                  <div class="col-sm-6">
                      <div class="input-group input-group-static">
                          <label class="ms-0 text-primary fw-bold">{{field.label}}</label>
                          {{ field }}
                      </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" name="investment" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock other_body %}

{% block other_js %}
  <script>
    {% comment %} $("#existingLoadDetailsButton1").click(function(){
     // swal("One More", "Existing Loan Details is Added", "success");
      x++; //Increment field counter
      $('.additionalCustomerDetail').append(`
        <div class="customerDetails${x}">
          <div class="row">
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="bank_name">Bank Name</label>
                <input type="text" name="bank_name" id="bank_name" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="product" class="ms-0 text-primary fw-bold col-12">Product/Services</label>
                  <select class="form-control col-12" name="product" id="product">
                    {% for product in products %}
                      <option value={{ product.product }}>{{ product.product }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="loan_amt">Loan Amount</label>
                <input type="number" name="loan_amt" id="loan_amt" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="emi">EMI</label>
                <input type="number" name="emi" id="emi" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="roi">Rate of interest</label>
                <input type="text" name="roi" id="roi" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="tenure">Tenure</label>
                <input type="text" name="tenure" id="tenure" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="emi_start_date">EMI Start Date</label>
                <input type="date" name="emi_start_date" id="emi_start_date" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="emi_end_date">EMI End Date</label>
                <input type="date" name="emi_end_date" id="emi_end_date" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="outstanding_paid">Outstanding Paid by Customer if any</label>
                <input type="number" name="outstanding_paid" id="outstanding_paid" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="outstanding_amt">Outstanding Amount</label>
                <input type="number" name="outstanding_amt" id="outstanding_amt" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="any_bounce" class="ms-0 text-primary fw-bold col-12">Any Bounces?</label>
                  <select class="form-control col-12" name="any_bounce" id="any_bounce">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="moratorium_taken" class="ms-0 text-primary fw-bold col-12">Moratorium Taken?</label>
                  <select class="form-control col-12" name="moratorium_taken" id="moratorium_taken">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="applicant_type" class="ms-0 text-primary fw-bold col-12">Applicant Type</label>
                  <select class="form-control col-12" name="applicant_type" id="applicant_type">
                    <option value="applicant">Applicant</option>
                    <option value="co_applicant">Co-Applicant</option>
                    <option value="gurantor">Guarantor</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div style="text-align:left">
                <button class="btn btn-primary mr-3 removeexistingLoanDetails1${x}Button1 " onclick="removeexistingLoanDetails1('customerDetails${x}')" >
                  <i class="fas fa-window-close fa-lg"></i>
                </button>
              </div>
            </div >
          </div>
        </div>
      `); //Add field html
    });
    function removeexistingLoanDetails1(parentclass){
     // swal("Additional Existing Loan Details", "have been deleted", "warning");
     $("."+`${parentclass}`).remove();
    } {% endcomment %}

    $("#existingCardDetailsButton1").click(function(){
      // swal("One More", "Existing Card Details is Added", "success");
      x++; //Increment field counter
      $('.additionalCustomerDetail1').append(`
        <div class="customerDetails1${x}">
          <div class="row">
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="bank_name">Bank Name</label>
                <input type="text" name="bank_name" id="bank_name" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="credit_limit">Credit Limit</label>
                <input type="number" name="credit_limit" id="credit_limit" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="limit_utilized">Limit Utilize</label>
                <input type="number" name="limit_utilized" id="limit_utilized" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="min_due">Minimum Due</label>
                <input type="text" name="min_due" id="min_due" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="card_due">CRedit Card Age</label>
                <input type="number" name="card_due" id="card_due" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="pay_delay" class="ms-0 text-primary fw-bold col-12">Any Delay In Payment</label>
                  <select class="form-control col-12" name="pay_delay" id="pay_delay">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="pay_delay" class="ms-0 text-primary fw-bold col-12">Any Delay In Payment</label>
                  <select class="form-control col-12" name="pay_delay" id="pay_delay">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="pay_delay_year" class="ms-0 text-primary fw-bold col-12">Year of Payment Delay</label>
                  <select class="form-control col-12" name="pay_delay_year" id="pay_delay_year">
                    <option value="last_year">Last 1 year</option>
                    <option value="prior_year">Prior to 1 year</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="moratorium_taken" class="ms-0 text-primary fw-bold col-12">Year of Payment DelayMoratorium Taken?</label>
                  <select class="form-control col-12" name="moratorium_taken" id="moratorium_taken">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group-row">
                <div>
                  <button class="btn btn-primary mr-3 remmoveexistingCardDetails1${x}Button" onclick="remmoveexistingCardDetails1('customerDetails1${x}')" >
                    <i class="fas fa-window-close fa-lg"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>      
      `); //Add field html
    });
    function remmoveexistingCardDetails1(parentclass){
      // swal("Additional Existing Card Details", "have been deleted", "warning");
      $("."+`${parentclass}`).remove();
    }
  </script>
  <script>
    var x=1;
    $("#addCustomerButton").click(function(){
      // alert("One More Existing Loan Details is Added");
      // swal("One More", "Existing Loan details is Added", "success");
      x++; //Increment field counter
      $('.additionalCustomerDetail').append(`
        <div class="customerDetails${x}">
          <div class="row">
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="bank_name">Bank name</label>
                <input type="text" name="bank_name" id="bank_name" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="product_services" class="ms-0 text-primary fw-bold col-12">Product/Services</label>
                  <select class="form-control col-12" name="product_services" id="product_services">
                    <option value="Indian">Personal</option>
                    <option value="Non Resident Indian">Buiness</option>
                    <option value="Non Resident Indian">Home</option>
                    <option value="Non Resident Indian">LAP</option>
                    <option value="Non Resident Indian">2Wheeler</option>
                    <option value="Non Resident Indian">4Wheeler</option>
                    <option value="Non Resident Indian">Consumer</option>
                  </select>
                </div>
              </div>
            </div>    
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="loan_amt">Loan Amount</label>
                <input type="number" name="loan_amt" id="loan_amt" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="emi">EMI</label>
                <input type="number" name="emi" id="emi" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="roi">Rate of interest</label>
                <input type="text" name="roi" id="roi" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="tenure">Tenure</label>
                <input type="number" name="tenure" id="tenure" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="emi_start_date">EMI Start Date</label>
                <input type="date" name="emi_start_date" id="emi_start_date" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="emi_end_date">EMI End Date</label>
                <input type="date" name="emi_end_date" id="emi_end_date" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="outstanding_paid">Outstanding Paid by Customer if any</label>
                <input type="number" name="outstanding_paid" id="outstanding_paid" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="outstanding_amt">Outstanding Amount</label>
                <input type="number" name="outstanding_amt" id="outstanding_amt" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="any_bounce" class="ms-0 text-primary fw-bold col-12">Any Bounces?</label>
                  <select class="form-control col-12" name="any_bounce" id="any_bounce">
                    <option value="yes">Yes</option>
                    <option value="no" Resident Indian">No</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="moratorium_taken" class="ms-0 text-primary fw-bold col-12">Moratorium Taken?</label>
                  <select class="form-control col-12" name="moratorium_taken" id="moratorium_taken">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="applicant_type" class="ms-0 text-primary fw-bold col-12">Applicant Type</label>
                  <select class="form-control col-12" name="applicant_type" id="applicant_type">
                    <option value="applicant">Applicant</option>
                    <option value="co_applicant">Co-Applicant</option>
                    <option value="gurantor">Guarantor</option>
                  </select>
                </div>
              </div>
            </div>
            <div style="text-align:left">
              <button class="btn btn-primary mr-3 removeCustomerDetails${x}Button" onclick="removeCustomerDetail('customerDetails${x}')" >
                Remove
              </button>
            </div>
          </div>
        </div>
      `); //Add field html
    });
    function removeCustomerDetail(parentclass){
      // alert("Remove Existing Loan Details")
      alert("Existing Loan Details have being deleted warning");
      $("."+`${parentclass}`).remove();
    }
  </script>
  <script>
    var x=1;
    $("#addCustomerButton1").click(function(){
      alert("One More Existing Card details is Added success");
      x++; //Increment field counter
      $('.additionalCustomerDetail1').append(`
        <div class="customerDetails1${x}">
          <div class="row">
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="bank_name">Bank Name</label>
                <input type="text" name="bank_name" id="bank_name" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="credit_limit">Credit Limit</label>
                <input type="number" name="credit_limit" id="credit_limit" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="limit_utilized">Limit Utilize</label>
                <input type="number" name="limit_utilized" id="limit_utilized" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="min_due">Minimum Due</label>
                <input type="text" name="min_due" id="min_due" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group input-group-outline mb-4">
                <label class="form-label text-primary fw-bold" for="card_due">CRedit Card Age</label>
                <input type="number" name="card_due" id="card_due" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="pay_delay" class="ms-0 text-primary fw-bold col-12">Any Delay In Payment</label>
                  <select class="form-control col-12" name="pay_delay" id="pay_delay">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="pay_delay" class="ms-0 text-primary fw-bold col-12">Any Delay In Payment</label>
                  <select class="form-control col-12" name="pay_delay" id="pay_delay">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="pay_delay_year" class="ms-0 text-primary fw-bold col-12">Year of Payment Delay</label>
                  <select class="form-control col-12" name="pay_delay_year" id="pay_delay_year">
                    <option value="last_year">Last 1 year</option>
                    <option value="prior_year">Prior to 1 year</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="input-group input-group-static mb-4">
                  <label for="moratorium_taken" class="ms-0 text-primary fw-bold col-12">Year of Payment DelayMoratorium Taken?</label>
                  <select class="form-control col-12" name="moratorium_taken" id="moratorium_taken">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="form-group-row">
              <br>
              <div>
                <button class="btn btn-primary mr-3 removeCustomerDetails1${x}Button" onclick="removeCustomerDetail1('customerDetails1${x}')" >
                  Remove
                </button>
              </div>
            </div>
            <br>
          </div>
        </div>      
      `); //Add field html
    });
    function removeCustomerDetail1(parentclass){
      // alert("Remove Existing Card Details?")
      alert("Existing Loan Details have being deleted warning");
      $("."+`${parentclass}`).remove();
    }
  </script>
  <script>
    $(function () {
      $("#AdditionalDetails").click(function () {
        if ($(this).is(":checked")) {
          $("#details9").show();
        } else {
          $("#details9").hide();
        }
      });
    });
  </script> 
  <script>
    var id_repayment_history_col, id_product_id, id_loan_inquiry_disbursement_details;
    $(document).ready(function () {
      id_repayment_history_col = $('#id_repayment_history').parent().parent();
      id_repayment_history_col.hide();
      id_product_id = $('#id_product_id').parent().parent();
      id_product_id.hide();
      id_loan_inquiry_disbursement_details = $('#id_loan_inquiry_disbursement_details').parent().parent();
      id_loan_inquiry_disbursement_details.hide();
    });
    $(document).on('change', '#id_loan_taken', function(){
      if($(this).val() == 'True'){
        id_repayment_history_col.show();
      }else{
        $('#id_repayment_history').val('Good');
        id_repayment_history_col.hide();
        id_product_id.hide();
      }
    });
    $(document).on('change', '#id_repayment_history', function(){
      if($(this).val() == 'Bad'){
        id_product_id.show();
      }else{
        id_product_id.hide();
      }
    });
    $(document).on('change', '#id_loan_inquiry_disbursement', function(){
      if($(this).val() == 'True'){
        id_loan_inquiry_disbursement_details.show();
      }else{
        id_loan_inquiry_disbursement_details.hide();
      }
    });
  </script>
{% endblock other_js %}