<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products And Policy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .form-container{
          background-color: rgb(245, 245, 245);
          padding: 30px;
          margin-right: -20px;
          border-radius: 10px;
          box-shadow: 0px 0px 10px 0px #000;
          /* margin -100px; */
        }
        .header{
          padding: 10px;

        }

      </style>
</head>
<body>
    <div class ="container-fluid">

        <!-- Sidebar -->
        {% include 'account/sidebar.html' %}

        <div class="container" style="width:80%; margin:0 auto;">
            <h3 class="card-title text-center header"> Add Products And Policy</h3>


            <form class="form-container" action={% url 'AddProductsAndPolicy' %} method="POST">
                {% csrf_token %}
                <h3 align="center">Product & Policy Details</h3><br>
                <div class="form-row">
                    <div class='form-group col'>
                        <label for="productname"><b>Product Name</b></label>
                        <input type="text" class="form-control" id="productname" name="productname" placeholder="Product Name">
                    </div>
                </div>
                <div class="form-row">
                    <select class="form-control" id="bank" name="bank">
                        {% for bank in banks %}
                            <option value={{ bank.bank_id }}>{{ bank.bank_name }}</option>
                        {% endfor %}
                    </select>
                    <a class="btn btn-primary" href="{% url 'PPbank' %}">Add Bank</a>

                </div>

                <br>

                <h3 align="center">Age</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="min_age"><b>Minimum age</b></label>
                            <input type="text" class="form-control" id="min_age" name="min_age" placeholder="Minimum age">
                        </div>
                        <div class='form-group col'>
                            <label for="retire_age"><b>Retirement age</b></label>
                            <input type="text" class="form-control" id="retire_age" name="retire_age" placeholder="Retirement age">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="Max_age_consi_others"><b>Maximum Age consideration Others</b></label>
                            <input type="text" class="form-control" id="Max_age_consi_others" name="Max_age_consi_others" placeholder="Maximum Age consideration Others">
                        </div>
                        <div class='form-group col'>
                            <label for="Max_age_consi_others"><b>Maximum Age consideration Others</b></label>
                            <input type="text" class="form-control" id="Max_age_consi_others" name="Max_age_consi_others" placeholder="Maximum Age consideration Others">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Cibil</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="cibil_range_min"><b>Cibil Range Minimum</b></label>
                            <input type="text" class="form-control" id="cibil_range_min" name="cibil_range_min" placeholder="Cibil Range Minimum">
                        </div>
                        <div class='form-group col'>
                            <label for="cibil_range_max"><b>Cibil Range Maximum</b></label>
                            <input type="text" class="form-control" id="cibil_range_max" name="cibil_range_max" placeholder="Cibil Range Maximum">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Company</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="comp_type"><b>Company Type</b></label>
                            <input type="text" class="form-control" id="comp_type" name="comp_type" placeholder="CiCompany Type">
                        </div>
                    </div>
                </div>

                <!-- <br>

                <h3 align="center">Cost Sheet</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="particulars"><b>Particulars</b></label>
                            <input type="text" class="form-control" id="particulars" name="particulars" placeholder="Particulars">
                        </div>
                    </div>
                </div> -->

                <br>

                <h3 align="center">Customer</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="min_age"><b>Minimum Age</b></label>
                            <input type="text" class="form-control" id="min_age" name="min_age" placeholder="Minimum Age">
                        </div>
                        <div class='form-group col'>
                            <label for="total_exp"><b>Total Experience</b></label>
                            <input type="text" class="form-control" id="total_exp" name="total_exp" placeholder="Total Experience">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="form16"><b>form16</b></label>
                            <input type="text" class="form-control" id="form16" name="form16" placeholder="form16">
                        </div>
                        <div class='form-group col'>
                            <label for="salary_type"><b>Salary Type</b></label>
                            <input type="text" class="form-control" id="salary_type" name="salary_type" placeholder="Salary Type</b>">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Customer Designation</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="cust_desig"><b>Customer Designation</b></label>
                            <input type="text" class="form-control" id="cust_desig" name="cust_desig" placeholder="Customer Designation">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Customer Nationality</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="cust_nat"><b>Customer Nationality</b></label>
                            <input type="text" class="form-control" id="cust_nat" name="cust_nat" placeholder="Customer Nationality">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Fees</h3><br>
                <div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="loginfees"><b>Login Fee</b></label>
                            <input type="text" class="form-control" id="loginfees" name="loginfees" placeholder="Login Fee">
                        </div>
                        <div class="form-group col">
                            <label for="procfeeapp"><b>processing fee application</b></label>
                            <input type="text" class="form-control" id="procfeeapp" name="procfeeapp" placeholder="processing fee application">
                        </div>
                        <div class="form-group col">
                            <label for="procfeetype"><b>processing fee type</b></label>
                            <input type="text" class="form-control" id="procfeetype" name="procfeetype" placeholder="processing fee type">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="procfeeflatloanamtwise"><b>processing fee flat loan amountwise</b></label>
                            <input type="text" class="form-control" id="procfeeflatloanamtwise" name="procfeeflatloanamtwise" placeholder="processing fee flat loan amountwise">
                        </div>
                        <div class="form-group col">
                            <label for="procfeepercentloanamtwise"><b>processing fee percentage loan amountwise</b></label>
                            <input type="text" class="form-control" id="procfeepercentloanamtwise" name="procfeepercentloanamtwise" placeholder="processing fee percentage loan amountwise">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="offers"><b>Offers</b></label>
                            <input type="text" class="form-control" id="offers" name="offers" placeholder="Offers">
                        </div>
                        <div class="form-group col">
                            <label for="offlineonline"><b>Offline or Online</b></label>
                            <input type="text" class="form-control" id="offlineonline" name="offlineonline" placeholder="Offline or Online">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Income</h3>
                <div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="grosssal"><b>Gross salary</b></label>
                            <input type="text" class="form-control" id="grosssal" name="grosssal" placeholder="Gross salary">
                        </div>
                        <div class="form-group col">
                            <label for="netsal"><b>Net Salary</b></label>
                            <input type="text" class="form-control" id="netsal" name="netsal" placeholder="Net Salary">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="bonus"><b>Bonus</b></label>
                            <input type="text" class="form-control" id="bonus" name="bonus" placeholder="Bonus">
                        </div>
                        <div class="form-group col">
                            <label for="bonus_avg_yearly"><b>Bonus Average yearly</b></label>
                            <input type="text" class="form-control" id="bonus_avg_yearly" name="bonus_avg_yearly" placeholder="Bonus Average yearly">
                        </div>
                        <div class="form-group col">
                            <label for="bonus_avg_yearly_percent"><b>Bonus Average yearly percentage</b></label>
                            <input type="text" class="form-control" id="bonus_avg_yearly_percent" name="bonus_avg_yearly_percent" placeholder="Bonus Average yearly percentage">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="bonus_avg_qtr"><b>Bonus Average Quaterly</b></label>
                            <input type="text" class="form-control" id="bonus_avg_qtr" name="bonus_avg_qtr" placeholder="Bonus Average Quaterly">
                        </div>
                        <div class="form-group col">
                            <label for="bonus_avg_qtr_percent"><b>Bonus Average Quaterly percentage</b></label>
                            <input type="text" class="form-control" id="bonus_avg_qtr_percent" name="bonus_avg_qtr_percent" placeholder="Bonus Average Quaterly percentage">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="bonus_avg_half_yearly"><b>Bonus Average half</b></label>
                            <input type="text" class="form-control" id="bonus_avg_half_yearly" name="bonus_avg_half_yearly" placeholder="Bonus Average half">
                        </div>
                        <div class="form-group col">
                            <label for="bonus_avg_half_yearly_percent"><b>Bonus Average half-yearly percentage</b></label>
                            <input type="text" class="form-control" id="bonus_avg_half_yearly_percent" name="bonus_avg_half_yearly_percent" placeholder="Bonus Average half-yearly percentage">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="rent_income"><b>Rent Income</b></label>
                            <input type="text" class="form-control" id="rent_income" name="rent_income" placeholder="Rent Income">
                        </div>
                        <div class="form-group col">
                            <label for="rentagreementtype"><b>Rent Agreement Type</b></label>
                            <input type="text" class="form-control" id="rentagreementtype" name="rentagreementtype" placeholder="Rent Agreement Type">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="bank_ref"><b>bank Reflection</b></label>
                            <input type="text" class="form-control" id="bank_ref" name="bank_ref" placeholder="bank Reflection">
                        </div>
                        <div class="form-group col">
                            <label for="rent_ref_in_bank"><b>bank Reflection in bank</b></label>
                            <input type="text" class="form-control" id="rent_ref_in_bank" name="rent_ref_in_bank" placeholder="bank Reflection in bank">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="rent_inc_percent"><b>Rent Increment Percentage</b></label>
                            <input type="text" class="form-control" id="rent_inc_percent" name="rent_inc_percent" placeholder="Rent Increment Percentage">
                        </div>
                        <div class="form-group col">
                            <label for="fut_rent"><b>Future Rent</b></label>
                            <input type="text" class="form-control" id="fut_rent" name="fut_rent" placeholder="Future Rent">
                        </div>
                        <div class="form-group col">
                            <label for="fut_rent_percent"><b>Future Rent percent</b></label>
                            <input type="text" class="form-control" id="fut_rent_percent" name="fut_rent_percent" placeholder="Future Rent percent">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="incentive"><b>Incentive</b></label>
                            <input type="text" class="form-control" id="incentive" name="incentive" placeholder="Incentive">
                        </div>
                        <div class="form-group col">
                            <label for="incen_avg_months"><b>Incentive Average Per Month</b></label>
                            <input type="text" class="form-control" id="incen_avg_months" name="incen_avg_months" placeholder="Incentive Average Per Month">
                        </div>
                        <div class="form-group col">
                            <label for="incen_percent"><b>Incentive Percentage</b></label>
                            <input type="text" class="form-control" id="incen_percent" name="incen_percent" placeholder="Incentive Percentage">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="coApplicant_No_Income_only_Rent_income"><b>Co-Applicant-No Income only Rent Income</b></label>
                            <input type="text" class="form-control" id="coApplicant_No_Income_only_Rent_income" name="coApplicant_No_Income_only_Rent_income" placeholder="Co-Applicant-No Income only Rent Income">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Income Foir</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="min_amt"><b>Minimum Amount</b></label>
                            <input type="number" class="form-control" id="min_amt" name="min_amt" placeholder="Minimum Amount">
                        </div>
                        <div class='form-group col'>
                            <label for="max_amt"><b>Maximum Amount</b></label>
                            <input type="number" class="form-control" id="max_amt" name="max_amt" placeholder="Maximum Amount">
                        </div>
                        <div class='form-group col'>
                            <label for="percent"><b>Percent</b></label>
                            <input type="number" class="form-control" id="percent" name="percent" placeholder="Percent">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Loan Amount</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="min_loan_amt"><b>Minimum Loan Amount</b></label>
                            <input type="text" class="form-control" id="min_loan_amt" name="min_loan_amt" placeholder="Minimum Loan Amount">
                        </div>
                        <div class='form-group col'>
                            <label for="max_loan_amt"><b>Maximum Loan Amount</b></label>
                            <input type="text" class="form-control" id="max_loan_amt" name="max_loan_amt" placeholder="Maximum Loan Amount">
                        </div>
                        <div class='form-group col'>
                            <label for="total_exp"><b>Total Experience</b></label>
                            <input type="text" class="form-control" id="total_exp" name="total_exp" placeholder="Total Experience</b>">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Loan Towards Evalution</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="cost_sheet"><b>Cost Sheet</b></label>
                            <input type="text" class="form-control" id="cost_sheet" name="cost_sheet" placeholder="Cost Sheet">
                        </div>
                        <div class='form-group col'>
                            <label for="min_amount"><b>Minimium Amount</b></label>
                            <input type="text" class="form-control" id="min_amount" name="min_amount" placeholder="Minimium Amount">
                        </div>
                        <div class='form-group col'>
                            <label for="max_amount"><b>Maximum Amount</b></label>
                            <input type="text" class="form-control" id="max_amount" name="max_amount" placeholder="Maximum Amount">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="rbi_guideline"><b>RBI Guidelines</b></label>
                            <input type="text" class="form-control" id="rbi_guideline" name="rbi_guideline" placeholder="RBI Guidelines">
                        </div>
                        <div class='form-group col'>
                            <label for="ammenity"><b>Ammenity</b></label>
                            <input type="text" class="form-control" id="ammenity" name="ammenity" placeholder="Ammenity">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="additional"><b>Additional</b></label>
                            <input type="text" class="form-control" id="additional" name="additional" placeholder="Additional</b></label>">
                        </div>
                        <div class='form-group col'>
                            <label for="car_parking"><b>Car Parking</b></label>
                            <input type="text" class="form-control" id="car_parking" name="car_parking" placeholder="Car Parking">
                        </div>
                        <div class='form-group col'>
                            <label for="car_parking_parcent"><b>Car Parking Percent</b></label>
                            <input type="text" class="form-control" id="car_parking_parcent" name="car_parking_parcent" placeholder="Car Parking Percent">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">LTV Resale</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="min_amount"><b>Minimium Amount</b></label>
                            <input type="text" class="form-control" id="min_amount" name="min_amount" placeholder="Minimium Amount">
                        </div>
                        <div class='form-group col'>
                            <label for="max_amount"><b>Maximum Amount</b></label>
                            <input type="text" class="form-control" id="max_amount" name="max_amount" placeholder="Maximum Amount">
                        </div>
                        <div class='form-group col'>
                            <label for="ltvrbi_guideline"><b>RBI Guidelines</b></label>
                            <input type="text" class="form-control" id="ltvrbi_guideline" name="ltvrbi_guideline" placeholder="RBI Guidelines">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="doccument_cost"><b>Document Cost</b></label>
                            <input type="text" class="form-control" id="doccument_cost" name="doccument_cost" placeholder="Document Cost">
                        </div>
                        <div class='form-group col'>
                            <label for="additional"><b>Additional</b></label>
                            <input type="text" class="form-control" id="additional" name="additional" placeholder="Additional">
                        </div>
                        <div class='form-group col'>
                            <label for="car_parking"><b>Car Parking</b></label>
                            <input type="text" class="form-control" id="car_parking" name="car_parking" placeholder="Car Parking">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="total"><b>Total</b></label>
                            <input type="text" class="form-control" id="total" name="total" placeholder="Total">
                        </div>
                        <div class='form-group col'>
                            <label for="market_value"><b>Market Value</b></label>
                            <input type="text" class="form-control" id="market_value" name="market_value" placeholder="Market Value">
                        </div>
                        <div class='form-group col'>
                            <label for="av_capping"><b>AV Capping</b></label>
                            <input type="text" class="form-control" id="av_capping" name="av_capping" placeholder="AV Capping">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Negative Employer Profile</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="neg_emp_pro"><b>Negative Employer Profile</b></label>
                            <input type="text" class="form-control" id="neg_emp_pro" name="neg_emp_pro" placeholder="Negative Employer Profile">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Negative Area</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="neg_area"><b>Negative Area</b></label>
                            <input type="text" class="form-control" id="neg_area" name="neg_area" placeholder="Negative Area">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Obligations</h3>
                <div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="emioblig"><b>emi Obligation</b></label>
                            <input type="text" class="form-control" id="emioblig" name="emioblig" placeholder="emi Obligation">
                        </div>
                        <div class="form-group col">
                            <label for="emioblignotconsidered"><b>emi obligation not considered</b></label>
                            <input type="text" class="form-control" id="emioblignotconsidered" name="emioblignotconsidered" placeholder="emi obligation not considered">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="creditcard"><b>Credit Card</b></label>
                            <input type="text" class="form-control" id="creditcard" name="creditcard" placeholder="Credit Card">
                        </div>

                        <div class="form-group col">
                            <label for="creditcardobligperc"><b>credit card obligation percentage</b></label>
                            <input type="text" class="form-control" id="creditcardobligperc" name="creditcardobligperc" placeholder="credit card obligation percentage">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="goldloan"><b>Gold Loan</b></label>
                            <input type="text" class="form-control" id="goldloan" name="goldloan" placeholder="Gold Loan">
                        </div>
                        <div class="form-group col">
                            <label for="goldloanpercent"><b>Gold Loan Percent</b></label>
                            <input type="text" class="form-control" id="goldloanpercent" name="goldloanpercent" placeholder="Gold Loan Percent">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Other Details</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="prevailingrate"><b>Prevailing Rate</b></label>
                            <input type="text" class="form-control" id="prevailingrate" name="prevailingrate" placeholder="Prevailing Rate">
                        </div>
                        <div class='form-group col'>
                            <label for="tenure"><b>Tenure</b></label>
                            <input type="number" class="form-control" id="tenur" name="tenur" placeholder="Tenure">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="inwardchequereturn"><b>Inward Cheque return</b></label>
                            <input type="text" class="form-control" id="inwardchequereturn" name="inwardchequereturn" placeholder="Inward Cheque return">
                        </div>
                        <div class='form-group col'>
                            <label for="multipleinquiry"><b>Multiple Inquiry</b></label>
                            <input type="text" class="form-control" id="multipleinquiry" name="multipleinquiry" placeholder="Multiple Inquiry">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Other Details ROI</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="min_loan_amt"><b>Minimum mLoan Amount</b></label>
                            <input type="text" class="form-control" id="min_loan_amt" name="min_loan_amt" placeholder="Minimum mLoan Amount">
                        </div>
                        <div class='form-group col'>
                            <label for="max_loan_amt"><b>Maximum Loan Amount</b></label>
                            <input type="text" class="form-control" id="max_loan_amt" name="max_loan_amt" placeholder="Maximum Loan Amount">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="min_val"><b>Minimum Value</b></label>
                            <input type="text" class="form-control" id="min_val" name="min_val" placeholder="Minimum Value">
                        </div>
                        <div class='form-group col'>
                            <label for="max_val"><b>Maximum Value</b></label>
                            <input type="text" class="form-control" id="max_val" name="max_val" placeholder="Maximum Value">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="roi_women"><b>ROI Women</b></label>
                            <input type="text" class="form-control" id="roi_women" name="roi_women" placeholder="ROI Women">
                        </div>
                        <div class='form-group col'>
                            <label for="roi_men"><b>ROI Men</b></label>
                            <input type="text" class="form-control" id="roi_men" name="roi_men" placeholder="ROI Men">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Property</h3>
                <div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="buildercategory"><b>Builder Category</b></label>
                            <input type="text" class="form-control" id="buildercategory" name="buildercategory" placeholder="Builder Category">
                        </div>
                        <div class="form-group col">
                            <label for="occupationcerti"><b>Occupation Certificate</b></label>
                            <input type="text" class="form-control" id="occupationcerti" name="occupationcerti" placeholder="Occupation Certificate">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="previousagreement"><b>Previous Agreement</b></label>
                            <input type="text" class="form-control" id="previousagreement" name="previousagreement" placeholder="Previous Agreement">
                        </div>
                        <div class="form-group col">
                            <label for="subscheme"><b>Subvention Scheme</b></label>
                            <input type="text" class="form-control" id="subscheme" name="subscheme" placeholder="Subvention Scheme">
                        </div>
                        <div class="form-group col">
                            <label for="perccompletion"><b>Percentage Completion</b></label>
                            <input type="number" class="form-control" id="perccompletion" name="perccompletion" placeholder="Percentage Completion">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Property Type</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="prop_type"><b>Property Type</b></label>
                            <input type="text" class="form-control" id="prop_type" name="prop_type" placeholder="Cost Sheet">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Room Type</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="room_type"><b>Room Type</b></label>
                            <input type="text" class="form-control" id="room_type" name="room_type" placeholder="Room Type">
                        </div>
                    </div>
                </div>

                <br>

                <h3 align="center">Stage Of Construction</h3>
                <div>
                    <div class="form-row">
                        <div class='form-group col'>
                            <label for="stage"><b>Stage Of constrcition</b></label>
                            <input type="text" class="form-control" id="stage" name="stage" placeholder="Stage Of constrcition">
                        </div>
                    </div>
                </div>



                <br>

                    <div style="text-align:center">

                        <button class="btn btn-primary mr-3 !important" type="submit">Submit</button>

                    </div>

            </form>
        </div>
    </div>

</body>
</html>