{% extends 'base/base.html' %}
{% load static %}

{% block other_css %}
  <style>
    .form-container{
      background-color: rgb(245, 245, 245);
      padding: 30px;
      margin-right: -20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px #000;
      /* margin -100px; */
    }
    .header{
      padding: 10px;
      
    }
  </style>
{% endblock other_css %}

{% block title %}Add Products And Policy{% endblock title %}

{% block other_body %}
  <div class ="container-fluid">
    <div class="card" style='width:80%; margin: 100px auto;'>
        <div class="card-header py-3">
          <a href={% url 'AddProductsAndPolicy' %} class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-plus"></i>
            </span>
            <span class="text">Add Product & Policy</span>
          </a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered sortable" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Edit</th>
                  <th>Product & Policy ID</th>
                  <th>Bank Name</th>
                  <th>Product Name</th>
                  <!-- <th>Effective Date</th>
                  <th>In-Effective Date</th>
                  <th>Turn to ineffective</th> -->
                </tr>
              </thead>
              <tbody>
                {% for product in Products %}
                <tr class="item">
                      <td>{{product.prod_id}}</td>
                      <td>
                          <a href={% url 'editproductandpolicy' id=product.prod_id %}>
                            <span class="icon text-black-50">
                              <i class="fas fa-edit"></i>
                            </span>
                          </a>
                      </td>
                      <td>{{ product.bank_id.bank_name|slice:":3"|upper }}{{ product.prod_name|slice:":3"|upper }}</td>
                      <td>{{product.bank_id.bank_name}}</td>
                      <td>{{product.prod_name}}</td>
                      <!-- <td>
                        {% for k in c %}
                          {% if item.id == k.ppid6_id %}
                            {{ k.cocat_types }},
                          {% endif %}
                        {% endfor %}
                      </td>
                      <td>{{item.eff_date}}</td>
                      <td>
                        {% if item.ineff_date == '' %}
                          NULL
                        {% else %}
                          {{item.ineff_date}}
                        {% endif %}
                      </td> -->
                      <td>
                          <a href="ineff/{{item.id}}">
                            <span class="icon text-black-50">
                              <i class="far fa-calendar-alt"></i>
                            </span>
                          </a>
                      </td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
{% endblock other_body %}

{% block other_js %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock other_js %}